MONGO_URI=

JWT_SECRET=
JWT_TOKEN_EXPIRE=
JWT_REFRESH_TOKEN_EXPIRE=

PORT=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

# config cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# auth google 
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# agora
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

# Firebase


# Google Cloud Translation (API key)
GOOGLE_PROJECT_ID=
GOOGLE_TRANSLATE_API_KEY=

# AI Image Moderation Service
AI_SERVICE_URL=http://localhost:8000

HUGGINGFACE_ACCESS_TOKEN=
HUGGINGFACE_URL=https://router.huggingface.co/v1/chat/completions
HUGGINGFACE_MODEL=Qwen/Qwen2.5-72B-Instruct